.color-nav {
    background-color: #e83e8c;
}
.logo {
    max-height: 50px;
}

body {
    font-family: 'Open Sans';
}
.hero h1{
    font-weight: 700;
    color: #212529;
    font-size: 3.75em;
}


.icons-section {
    background-color: #17a2b8;
    color: white;
    font-size: 2.3em;
    font-weight: 400;
}

.fa-iconos {
    font-size: 2em;
}
.tarjetas h2{
    font-size: 0.99em;
    padding-top: 10%;
    font-size: 400;
} 

.color-footer {
    background-color: #e83e8c;
}

.footer-logo{
    max-height: 100px;
    
}