.icons-section {
    background-color: #17a2b8;
    color: white;
    font-size: 2.3em;
    text-align: center;
    
}

.fa-iconos {
    font-size: 2em;
}
.tarjetas h2{
    font-size: 0.99em;
    padding-top: 10%;
} 

.color-footer {
    background-color: #e83e8c;
}